.userList {
  flex: 4;
  /* margin-left: 100px; */
  /* background-color: red; */
  /* overflow-x: scroll; */
}

.userListItem {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.Top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.Bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

#customers td,
th {
  border: 1px solid #ddd;
  padding: 20px;
  /* background-color: red; */
}

img {
  border-radius: 50%;
  height: 60px;
  width: 70px;
  object-fit: fit;
}
th {
  font-weight: 400;
  color: gray;
}

@media screen and (max-width: 500px) {
  .userList {
    margin-left: 0px;
    overflow-x: scroll;
    margin-top: -250px;
  }
}
